@import "vender/bootstrap-sass/bootstrap";
@import "base/var";
@import "base/font";
@import "base/reset";
@import "base/setting";
@import "mixin/mixin";
@import "modules/header";
@import "modules/banner";
@import "modules/login";


//font
@include body-font();

//header style
// @include header-style(small);
@include headers(auto , 100px , 100px ,40px);
.header {
   .header--top {  background-color: #999; }
   .header--menu {  background-color: #666; }
   .header--login {  background-color: #888; }
}


.banner_carousel { 
    width: 1920px;
   .banner-item {
       width: 100%;
       height: 450px;
   }
}




