<div class="header">
    <div class="container">
        <div class="header-topbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="header-topbar-language">
                    <li class="header-topbar-language_li"><img src="images/validate/language_1.png" alt=""></li>
                    <li class="header-topbar-language_li"><img src="images/validate/language_2.png" alt=""></li>
                    <li class="header-topbar-language_li"><img src="images/validate/language_3.png" alt=""></li>
                </ul>
                <ul class="header-topbar-fast-link">
                    <li class="header-topbar-fast-link_li">線路檢測</li>
                    <li class="header-topbar-fast-link_li">資訊端下載</li>
                    <li class="header-topbar-fast-link_li">新手教程</li>
                    <li class="header-topbar-fast-link_li">客服主管</li>
                    <li class="header-topbar-fast-link_li">代理加盟</li>
                </ul>
            </div>
        </div>
    </div>
</div> 
        <div class="header-topnav">
    <div class="header-topnav-logo">
        <img src="images/firm/suncity_1.png" alt="liveCasino">  
    </div>
    <div class="header-topnav-login">
        <ul>
            <li class="header-topnav-login_li"><input type="text"></li>
            <li class="header-topnav-login_li"><input type="password"></li>
            <li class="header-topnav-login_li"><input type="text" placeholder="驗證碼"></li>
            <li class="header-topnav-login_li"><button type="button" class="btn btn-warning">登入</button></li>    
        </ul>
    </div>
</div> 
        <div class="header-login">
    <ul>
        <li class="header-login_li"><a href="#" class="header-login_li_a">網站首頁</a></li>
        <li class="header-login_li"><a href="#" class="header-login_li_a">六合彩</a></li>
        <li class="header-login_li"><a href="#" class="header-login_li_a">時時彩</a></li>
        <li class="header-login_li"><a href="#" class="header-login_li_a">官方彩票</a></li>
        <li class="header-login_li"><a href="#" class="header-login_li_a">電子遊藝</a></li>
        <li class="header-login_li"><a href="#" class="header-login_li_a">真人娛樂</a></li>
        <li class="header-login_li"><a href="#" class="header-login_li_a">體育投注</a></li>
        <li class="header-login_li"><a href="#" class="header-login_li_a">優惠活動</a></li>
        <li class="header-login_li"><a href="#" class="header-login_li_a">在線客服</a></li>
    </ul>
</div>
    </div>
</div>