//header style
@mixin header-style($height) {
  @if $height == "small" {
    .header {
      height: $smallnav + px;
      @include box-sizing(border-box);
    }
  }

  @else if $height == "medium" {
    .header {
      height: $mediumnav + px;
      @include box-sizing(border-box);
    }

  }

  @else if $height == "large" {
    .header {
      height: $largenav + px;
      @include box-sizing(border-box);
    }
  }
}
// can modify height
@mixin headers($header_height:null , $top_height:null , $menu_height:null , $login_height:null) {
  .header {
    height: $header_height;
    @include box-sizing(border-box);
    .header-top {
      height: $top_height;
      @include box-sizing(border-box);
    }
    .header-topnav {
      height: $menu_height;
      @include box-sizing(border-box);
    }
    .header-login {
      height: $login_height;
      @include box-sizing(border-box);
    }
  }
}
